<div class="row">
	<span class="span6 offset3">
		<div class="well">
			<p>
			  <%= @pin.user.name %>
			</p>
			<p>
			  <%= @pin.description %>
			</p>

			<%= link_to 'Back', pins_path %>

  		<% if current_user == @pin.user %>
				<span class="pull-right">
					<%= link_to 'Edit', edit_pin_path(@pin) %> |
		  		<%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		  	</span>
			<% end %>

		</div>
	</span>
</div>